/* Headings Sizes*/
h1,
h2,
h3 {
  margin-top: 2.3rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
}

p {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.9;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}

/* Basic list displays */
nav li {
  margin: 0 5px;
  padding: 5px;
}

li {
  list-style: none;
}

/* Colors for each main section */
body {
  color: #4a4a4a;
}

.content {
  background-color: #f3f3f3;
}

.accent {
  color: #ce973e;
}

aside {
  background-color: #eee;
}

.card-main {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 40px 60px;
}

@media screen and (max-width: 666px) {
  .card-main {
    padding: 20px 30px;
  }
}

footer {
  background-color: #fff;
}

/* Navigation Header */
@media screen and (max-width: 1023px) {
  .logo-img {
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .logo-img {
    height: 70px;
  }
}

.nav-link {
  font-weight: bold;
  color: rgba(74, 74, 74, 0.7);
}

/* Header for main content */
.course-badge {
  height: 60px;
  width: 60px;
}

.lesson-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Footer */

.footer-social {
  margin: 0;
}

.footer-social a {
  font-size: 1.5rem;
}

/* Section divider */
.spacer {
  visibility: hidden;
}

.divider {
  height: 0;
  overflow: hidden;
  background-color: #cc9543;
  margin: 0.5rem auto;
  border: 1px solid #cc9543;
  width: 80vw;
}

.spacer-right {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .spacer-right {
    margin-right: 40px;
  }
}

/* Changes to framework */
[class*='container'] {
  padding: 2rem;
}
@media screen and (max-width: 666px) {
  [class*='container'] {
    padding: 1.4rem;
  }
}

/* Custom buttons */
.button {
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin: 10px;
}

@media screen and (max-width: 666px) {
  .button {
    padding: 0.8rem 2rem;
  }
}

.button-primary {
  color: #fff;
  background-color: #6abfc3;
}

.button-secondary {
  color: #fff;
  background-color: #cc9543;
}

/* Full screen menu */
#menu {
  background-color: beige;
  color: #cc9543;
  font-size: 5vh;
  line-height: 5vh;
}

#menu li {
  padding: 0;
  margin: 0;
}

#menu-btn,
#hide-menu-btn {
  color: #6abfc3;
  cursor: pointer;
  font-size: 1.2rem;
}

#hide-menu-btn {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.full-height {
  height: 100vh;
}
