// BASE
@import './breakpoints';

// Default Button
button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lightgray;
}

/* Display Element at a certain breakpoint */
@media screen and (min-width: #{nth($screenSizes, 1)}) {
  @each $sel in $screenSelectors {
    .display-from-#{$sel} {
      display: none;
    }
  }
}
@each $sel, $size in zip($screenSelectors, $screenSizes) {
  @media screen and (min-width: $size) {
    .display-from-#{$sel} {
      display: block;
    }
  }
}

/* Display Element until a certain breakpoint */
@each $sel, $size in zip($screenSelectors, $screenSizes) {
  @media screen and (min-width: $size) {
    .display-until-#{$sel} {
      display: none;
    }
  }
}
