// BASE
@import './breakpoints';

// Default Button
button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lightgray;
}

/* Display Element at a certain breakpoint */
$displayTypes: f flex, i inline, ib inline-block, g grid; // specific versions of display

@each $sel in $screenSelectors {
  .display-from-#{$sel} {
    display: none;
  }
  // set display for all specific versions of display-from
  @each $d, $prop in $displayTypes {
    .#{$d}-display-from-#{$sel} {
      display: none;
    }
  }
}

@each $sel, $size in zip($screenSelectors, $screenSizes) {
  @media screen and (min-width: $size) {
    .display-from-#{$sel} {
      display: block;
    }
    // set display to specific versions of display-from
    @each $d, $prop in $displayTypes {
      .#{$d}-display-from-#{$sel} {
        display: $prop;
      }
    }
  }
}

/* Display Element until a certain breakpoint */
@each $sel, $size in zip($screenSelectors, $screenSizes) {
  @media screen and (min-width: $size) {
    .display-until-#{$sel} {
      display: none;
    }
  }
}
