/* RESET */
/*  handles mass reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

nav li {
  list-style: none;
}

/* TYPE */
body {
  color: #000000;
  font-size: 0.97em;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
}

h5 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

h6 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.ta-cnr {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-j {
  text-align: justify;
}

.container {
  width: 100%;
}

.row, .col, .row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10, .row-11, .row-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* 
  MEDIA QUERIES FOR GRID 
*/
/* Fixed Row Heights at all screen sizes */
.row-1 {
  min-height: 100px;
}

.row-2 {
  min-height: 200px;
}

.row-3 {
  min-height: 300px;
}

.row-4 {
  min-height: 400px;
}

.row-5 {
  min-height: 500px;
}

.row-6 {
  min-height: 600px;
}

.row-7 {
  min-height: 700px;
}

.row-8 {
  min-height: 800px;
}

.row-9 {
  min-height: 900px;
}

.row-10 {
  min-height: 1000px;
}

.row-11 {
  min-height: 1100px;
}

.row-12 {
  min-height: 1200px;
}

/* Columns at all screen sizes*/
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* Responsive selectors for column */
[class*='col-xs'],
[class*='container-xs'] {
  width: 100%;
  margin: 0 auto;
}

[class*='container-xs'] {
  padding: 15px;
}

@media only screen and (min-width: 375px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

[class*='col-s'],
[class*='container-s'] {
  width: 100%;
  margin: 0 auto;
}

[class*='container-s'] {
  padding: 15px;
}

@media only screen and (min-width: 667px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
}

[class*='col-m'],
[class*='container-m'] {
  width: 100%;
  margin: 0 auto;
}

[class*='container-m'] {
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
}

[class*='col-l'],
[class*='container-l'] {
  width: 100%;
  margin: 0 auto;
}

[class*='container-l'] {
  padding: 15px;
}

@media only screen and (min-width: 1024px) {
  .col-l-1 {
    width: 8.33333%;
  }
  .col-l-2 {
    width: 16.66667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33333%;
  }
  .col-l-5 {
    width: 41.66667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33333%;
  }
  .col-l-8 {
    width: 66.66667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33333%;
  }
  .col-l-11 {
    width: 91.66667%;
  }
  .col-l-12 {
    width: 100%;
  }
}

[class*='col-xl'],
[class*='container-xl'] {
  width: 100%;
  margin: 0 auto;
}

[class*='container-xl'] {
  padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/* Responsive selectors for container */
@media only screen and (min-width: 375px) {
  .container-xs {
    width: 367.5px;
  }
}

@media only screen and (min-width: 667px) {
  .container-xs {
    width: 653.66px;
  }
  .container-s {
    width: 653.66px;
  }
}

@media only screen and (min-width: 768px) {
  .container-xs {
    width: 752.64px;
  }
  .container-s {
    width: 752.64px;
  }
  .container-m {
    width: 752.64px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-xs {
    width: 1003.52px;
  }
  .container-s {
    width: 1003.52px;
  }
  .container-m {
    width: 1003.52px;
  }
  .container-l {
    width: 1003.52px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-xs {
    width: 1176px;
  }
  .container-s {
    width: 1176px;
  }
  .container-m {
    width: 1176px;
  }
  .container-l {
    width: 1176px;
  }
  .container-xl {
    width: 1176px;
  }
}

/* Element that covers the screen fully */
.full-cover-top {
  width: 0;
  height: 0;
  position: fixed;
  -webkit-transition-property: height;
  transition-property: height;
  width: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  top: 0;
}

.full-cover-top.active {
  width: 100%;
  height: 100%;
}

.full-cover-btm {
  width: 0;
  height: 0;
  position: fixed;
  -webkit-transition-property: height;
  transition-property: height;
  width: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  bottom: 0;
}

.full-cover-btm.active {
  width: 100%;
  height: 100%;
}

.full-cover-l {
  width: 0;
  height: 0;
  position: fixed;
  -webkit-transition-property: width;
  transition-property: width;
  top: 0;
  height: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  left: 0;
}

.full-cover-l.active {
  width: 100%;
  height: 100%;
}

.full-cover-r {
  width: 0;
  height: 0;
  position: fixed;
  -webkit-transition-property: width;
  transition-property: width;
  top: 0;
  height: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  right: 0;
}

.full-cover-r.active {
  width: 100%;
  height: 100%;
}

button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lightgray;
}

/* Display Element at a certain breakpoint */
.display-from-xs {
  display: none;
}

.f-display-from-xs {
  display: none;
}

.i-display-from-xs {
  display: none;
}

.ib-display-from-xs {
  display: none;
}

.g-display-from-xs {
  display: none;
}

.display-from-s {
  display: none;
}

.f-display-from-s {
  display: none;
}

.i-display-from-s {
  display: none;
}

.ib-display-from-s {
  display: none;
}

.g-display-from-s {
  display: none;
}

.display-from-m {
  display: none;
}

.f-display-from-m {
  display: none;
}

.i-display-from-m {
  display: none;
}

.ib-display-from-m {
  display: none;
}

.g-display-from-m {
  display: none;
}

.display-from-l {
  display: none;
}

.f-display-from-l {
  display: none;
}

.i-display-from-l {
  display: none;
}

.ib-display-from-l {
  display: none;
}

.g-display-from-l {
  display: none;
}

.display-from-xl {
  display: none;
}

.f-display-from-xl {
  display: none;
}

.i-display-from-xl {
  display: none;
}

.ib-display-from-xl {
  display: none;
}

.g-display-from-xl {
  display: none;
}

@media screen and (min-width: 375px) {
  .display-from-xs {
    display: block;
  }
  .f-display-from-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-display-from-xs {
    display: inline;
  }
  .ib-display-from-xs {
    display: inline-block;
  }
  .g-display-from-xs {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 667px) {
  .display-from-s {
    display: block;
  }
  .f-display-from-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-display-from-s {
    display: inline;
  }
  .ib-display-from-s {
    display: inline-block;
  }
  .g-display-from-s {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 768px) {
  .display-from-m {
    display: block;
  }
  .f-display-from-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-display-from-m {
    display: inline;
  }
  .ib-display-from-m {
    display: inline-block;
  }
  .g-display-from-m {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 1024px) {
  .display-from-l {
    display: block;
  }
  .f-display-from-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-display-from-l {
    display: inline;
  }
  .ib-display-from-l {
    display: inline-block;
  }
  .g-display-from-l {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 1200px) {
  .display-from-xl {
    display: block;
  }
  .f-display-from-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-display-from-xl {
    display: inline;
  }
  .ib-display-from-xl {
    display: inline-block;
  }
  .g-display-from-xl {
    display: -ms-grid;
    display: grid;
  }
}

/* Display Element until a certain breakpoint */
@media screen and (min-width: 375px) {
  .display-until-xs {
    display: none;
  }
}

@media screen and (min-width: 667px) {
  .display-until-s {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .display-until-m {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .display-until-l {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .display-until-xl {
    display: none;
  }
}
/*# sourceMappingURL=framework.css.map */